{
auto_https disable_redirects
}
:80 {
encode zstd gzip
root * /srv
header /*.html Cache-Control "no-cache"
header {
X-Content-Type-Options nosniff
X-Frame-Options SAMEORIGIN
-Server
}
file_server
try_files {path} {path}/ {path}.html
handle_errors {
rewrite /404.html
file_server
}
}
dastarhan.duckdns.org:8443 {
tls internal
encode zstd gzip
root * /srv
header /*.html Cache-Control "no-cache"
file_server
try_files {path} {path}/ {path}.html
handle_errors {
rewrite /404.html
file_server
}
}
